Problem Details camel case RFC 7807 "compliant casing"

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

Hi,

Following the discussion in [this issue](https://github.com/dotnet/aspnetcore/issues/53639), it seems that starting with .NET 9, **Problem Details** are now always serialized using camelCase, reportedly, due to [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807) compliance.

However, after reviewing the RFC, I couldn’t find any section that explicitly mandates the use of camelCase. Instead, the RFC states:

> A problem type definition MAY specify additional members on the problem details object. For example, an extension might use typed links (RFC 5988) to another resource that can be used by machines to resolve the problem.  
>  
> If such additional members are defined, their names SHOULD start with a letter (ALPHA, as per [RFC 5234, Appendix B.1](https://datatracker.ietf.org/doc/html/rfc5234#appendix-B.1)) and SHOULD consist of characters from ALPHA, DIGIT ([RFC 5234, Appendix B.1](https://datatracker.ietf.org/doc/html/rfc5234#appendix-B.1)), and "_", and they SHOULD be three characters or longer.

I’ve also noticed that the `traceId` field was recently introduced in the Problem Details object in .NET9, which now results, e.g., in the following JSON:

```json
{
  "type": "https://tools.ietf.org/html/rfc9110#section-15.5.5",
  "title": "Not Found",
  "status": 404,
  "traceId": "00-fb5a4583138884ff98c3ba7caf310619-83734512fdab2295-00"
}
```

In my opinion, the response body should respect the `SerializerOptions.PropertyNamingPolicy` (e.g., camelCase or snake_case), with the only exception being kebab-case, which is not compliant with the RFC due to its use of hyphens. 

For example, when using `SerializerOptions.PropertyNamingPolicy = JsonNamingPolicy.SnakeCaseLower` , the response body should produce the following result:

```json
{
  "type": "https://tools.ietf.org/html/rfc9110#section-15.5.5",
  "title": "Not Found",
  "status": 404,
  "trace_id": "00-fb5a4583138884ff98c3ba7caf310619-83734512fdab2295-00"
}
```

Could you please clarify why this change is being enforced?

Thanks!

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

9.0.100

### Anything else?

_No response_

@hmiguel Thanks for filing this issue!

The change that we merged into .NET 8 was specifically around using the prescribed casing for well-defined properties in the ProblemDetails object, like `title` and `instance` as defined in [this portion of the spec](https://datatracker.ietf.org/doc/html/rfc7807#section-3.1).

`traceId` is cased this way as a result of [this bit of code](https://github.com/dotnet/aspnetcore/blob/main/src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs#L59) which should probably be fixed.

For all other extension keys, the implementation will use the serializer options configured in the `JsonOptions`.

Would you be interested in opening a PR to resolve this issue? It should be something like this:

```diff
- context.ProblemDetails.Extensions["traceId"] = traceId;
+ var tradeIdKeyName = _serializerOptions.PropertyNamingPolicy.ConvertName("traceId");
context.ProblemDetails.Extensions[traceIdKeyName] = traceId;
```

Hi @captainsafia, I will raise PR for this soon. :)