FileResult forced to sanitize non-ascii filename

### Describe the bug
Executor of FileResult produces `ContentDispositionHeaderValue`:
https://github.com/dotnet/aspnetcore/blob/c646e20f7597a3913b1103d6f426666f183a6602/src/Mvc/Mvc.Core/src/Infrastructure/FileResultExecutorBase.cs#L157-L159
but also forces to sanitize given filename:
https://github.com/dotnet/aspnetcore/blob/c646e20f7597a3913b1103d6f426666f183a6602/src/Http/Headers/src/ContentDispositionHeaderValue.cs#L191-L202

When filename is set to `Экспорт платежей через Почту России.xlsx` after purging turns to `_______ ________ _____ _____ ______.xlsx`.
Resulting raw .Net Framework header:
```
Content-Disposition: attachment; filename="=?utf-8?B?0K3QutGB0L/QvtGA0YIg0L/Qu9Cw0YLQtdC20LXQuSDRh9C10YDQtdC3INCf0L7Rh9GC0YMg0KDQvtGB0YHQuNC4Lnhsc3g=?="
```
Resulting raw net core header:
```
Content-Disposition: attachment; filename="_______ ________ _____ _____ ______.xlsx"; filename*=UTF-8''%D0%AD%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%BF%D0%BB%D0%B0%D1%82%D0%B5%D0%B6%D0%B5%D0%B9%20%D1%87%D0%B5%D1%80%D0%B5%D0%B7%20%D0%9F%D0%BE%D1%87%D1%82%D1%83%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8.xlsx
```

This behavior is not explicitly specified by RFC 2183, Sec. 2.3 (to replace non-ascii characters with `_`)

### To Reproduce
.Net Framework:
```csharp
        public static HttpResponseMessage CreateFileResponse(Stream stream, string fileName, string mime)
        {
            if (stream == null)
                throw new ArgumentNullException(nameof(stream));

            stream.Seek(0, SeekOrigin.Begin);
            var result = new HttpResponseMessage(HttpStatusCode.OK)
            {
                Content = new StreamContent(stream),
            };

            result.Content.Headers.ContentDisposition = new ContentDispositionHeaderValue("attachment")
            {
                FileName = fileName,
            };

            result.Content.Headers.ContentType = new MediaTypeHeaderValue(mime);
            result.Content.Headers.ContentLength = stream.Length;

            // (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers)
            result.Headers.Add("Access-Control-Expose-Headers", "Content-Disposition");

            return result;
        }
```
netcore:
```csharp
        public static IActionResult CreateFileResponse(Stream stream, string fileName, string mime)
        {
            if (stream == null)
                throw new ArgumentNullException(nameof(stream));

            stream.Seek(0, SeekOrigin.Begin);
            return new FileStreamResult(stream, mime) { FileDownloadName = fileName };
        }
```

### Further technical details
- ASP.NET Core version - any (3.1.406 in particular)


> This behavior is not explicitly specified by RFC 2183, Sec. 2.3 (to replace non-ascii characters with _)

That's correct, says non-ASCII values are not allowed but it doesn't say what to do with them.

https://tools.ietf.org/html/rfc2183#section-2.3
>    Current [RFC 2045] grammar restricts parameter values (and hence
   Content-Disposition filenames) to US-ASCII.

https://tools.ietf.org/html/rfc6266#section-4.3 says that the `filename*` parameter should be preferred over the `filename` parameter, and that `filename*` should use the encoding specified in RFC5987. RFC 6266 also does not specify how to handle invalid values in the `filename` parameter.

https://tools.ietf.org/html/rfc2231 defines the alternate `=?utf-8?B?0K3QutGB...` approach but does not explicitly recommend it for the `filename` parameter. Including fully encoded values for both parameters would risk hitting header size limits.
`
Content-Disposition: attachment; filename="=?utf-8?B?0K3QutGB0L/QvtGA0YIg0L/Qu9Cw0YLQtdC20LXQuSDRh9C10YDQtdC3INCf0L7Rh9GC0YMg0KDQvtGB0YHQuNC4Lnhsc3g=?="; filename*=UTF-8''%D0%AD%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%BF%D0%BB%D0%B0%D1%82%D0%B5%D0%B6%D0%B5%D0%B9%20%D1%87%D0%B5%D1%80%D0%B5%D0%B7%20%D0%9F%D0%BE%D1%87%D1%82%D1%83%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8.xlsx
`

Given that `filename` is considered a fallback for `filename*`, we opted for a simpler mechanism than the verbose encoding suggested by RFC2231. 

So the real question is what do clients support? Are their common clients that do not support `filename*` but do support `filename` using the RFC2231 encoding?

> That's correct, it says non-ASCII values are not allowed but it doesn't say what to do with them.

Not exactly.
https://tools.ietf.org/html/rfc2183#section-2
> Parameter values longer than 78 characters, or which contain non-ASCII characters, MUST be encoded as specified in [RFC 2184].

`ContentDispositionHeaderValue` works the same way about encoding `filename` by RFC 2231) on both netcore and netfx, so no question is there. But should `FileResultExecutorBase` force to sanitize `filename`?

> So the real question is what do clients support? Are their common clients that do not support filename* but do support filename using the RFC2231 encoding?

Currently I migrate projects from netfx where `filename*` has not been used at all and front-end client has no support of it. But now we will, thank for point it out!

> https://tools.ietf.org/html/rfc6266#section-4.3 says that the filename* parameter should be preferred over the filename parameter