HTTP/2: React to updated spec

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

New RFC dropped. Differences from the earlier spec: https://www.rfc-editor.org/rfc/rfc9113.html#appendix-B

@Tratcher @davidfowl 

### Describe the solution you'd like

Look through changes. We don't implement dropped features (prioritization, HTTP 1.1 upgrade) but they tighten and clarify validations rules.

We could follow the updated spec or stay as we are to maximize compatibility.

### Additional context

_No response_

Triage: From a quick glance at the appendix, we think
> Host and ":authority" are no longer permitted to disagree.

is the only interesting update that we should look into.

We should confirm that there are no other differences that we should worry about. But if that's the only one, then we're probably good for .NET 7.

> Use of TLS 1.3 was defined based on [[RFC8740](https://www.rfc-editor.org/rfc/rfc9113.html#RFC8740)], which this document obsoletes.

N/A

> The priority scheme defined in RFC 7540 is deprecated. Definitions for the format of the [PRIORITY](https://www.rfc-editor.org/rfc/rfc9113.html#PRIORITY) frame and the priority fields in the [HEADERS](https://www.rfc-editor.org/rfc/rfc9113.html#HEADERS) frame have been retained, plus the rules governing when [PRIORITY](https://www.rfc-editor.org/rfc/rfc9113.html#PRIORITY) frames can be sent and received, but the semantics of these fields are only described in RFC 7540. The priority signaling scheme from RFC 7540 was not successful. Using the simpler signaling in [[HTTP-PRIORITY](https://www.rfc-editor.org/rfc/rfc9113.html#RFC9218)] is recommended.


N/A, we never implemented priorities.

> The HTTP/1.1 Upgrade mechanism is deprecated and no longer specified in this document. It was never widely deployed, with plaintext HTTP/2 users choosing to use the prior-knowledge implementation instead.

N/A, we never implemented Upgrade.

> Validation for field names and values has been narrowed. The validation that is mandatory for intermediaries is precisely defined, and error reporting for requests has been amended to encourage sending 400-series status codes.


- [ ] Review

> The ranges of codepoints for settings and frame types that were reserved for Experimental Use are now available for general use.

- [ ] Review

> Connection-specific header fields -- which are prohibited -- are more precisely and comprehensively identified.

- [ ] Review

> Host and ":authority" are no longer permitted to disagree.

- [ ] Review

> Rules for sending Dynamic Table Size Update instructions after changes in settings have been clarified in [Section 4.3.1](https://www.rfc-editor.org/rfc/rfc9113.html#dynamic-table).

- [ ] Review