DefaultProblemDetailsWriter Doesn't Handle Media Type Subsets

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The `DefaultProblemDetailsWriter` is meant to support clients that specify a media type in the `Accept` header field that is compatible `application/json` or `application/problem+json`:

https://github.com/dotnet/aspnetcore/blob/3c58bce735c660a7290f30a490c377cf7239445f/src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs#L13

The matching logic, however, is inverted:

https://github.com/dotnet/aspnetcore/blob/3c58bce735c660a7290f30a490c377cf7239445f/src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs#L42

The correct logic should be:

```c#
if (acceptHeaderValue.IsSubsetOf(_jsonMediaType) ||
    acceptHeaderValue.IsSubsetOf(_problemDetailsJsonMediaType))
{
    return true;
}
```

### Expected Behavior

A client that specifies a more specific media type _should_ be matched by `DefaultProblemDetailsWriter.CanWrite`. This happens because `MediaTypeHeaderValue.IsSubsetOf` considers media type parameters:

https://github.com/dotnet/aspnetcore/blob/8efa82df214b302ec04aab4931a3692a89de3490/src/Http/Headers/src/MediaTypeHeaderValue.cs#L385

The source code cites RFC 2068 §14.1 which has been superseded by RFC 2616, RFC 7230, and is currently defined by [RFC 9110 §12.5.1](https://www.rfc-editor.org/rfc/rfc9110#section-12.5.1). A media type is identified by `<type>/<subtype>[+<suffix>]*`. The documentation for `MediaTypeHeaderValue.IsSubsetOf` also states:

>_For example "multipart/mixed; boundary=1234" is a subset of "multipart/mixed; boundary=1234", "multipart/mixed", "multipart/*", and "*/*" but not "multipart/mixed; boundary=2345" or "multipart/message; boundary=1234"._

This means that:

- `application/json; charset=utf-8`
- `application/json; v=1.0`

_should_ be considered subsets of `application/json`. Currently, they are not because the logic is inverted. These scenarios were missed because the test cases do not include a variant which includes a media type parameter:

https://github.com/dotnet/aspnetcore/blob/8efa82df214b302ec04aab4931a3692a89de3490/src/Http/Http.Extensions/test/ProblemDetailsDefaultWriterTest.cs#L541

### Steps To Reproduce

The following scenarios assume that a _problem_ has occurred on the server.

### Example 1

Although not officially supported as part of `application/json`, it is commonplace for message exchanges to use the media type parameter `charset=utf-8` as opposed to `Accept-Charset`, which is arguably the _correct_ approach. If a problem occurs, no problem details are reported as a result.

```http
POST /example HTTP/2
Host: localhost
Accept: application/json; charset=utf-8
Content-Type: application/json; charset=uft-8
Content-Length: 42

{"test": true, "message": "Why, hello there!"}
```

```http
HTTP/2 400 Bad Request
```

### Example 2

A truly RESTful API would version itself using media type negotiation, which _might_ be achieved using a media type parameter. If a problem occurs or the version is not supported, no problem details are reported.

```http
POST /example HTTP/2
Host: localhost
Accept: application/json; v=42.0
Content-Type: application/json; v=42.0
Content-Length: 42

{"test": true, "message": "Why, hello there!"}
```

```http
HTTP/2 415 Unsupported Media Type
```

### Exceptions (if any)

`InvalidationOperationException` is `IProblemDetailsService.WriteAsync` is used versus `IProblemDetailsService.TryWriteAsync`.

### .NET Version

8.0.100

### Anything else?

- This issue affects the .NET 8 and .NET 7 implementations (all versions)
- This issue is discussed in #45159, but the feature didn't make the cut for .NET 8 and was neither fixed
- This issue was identified and fixed with internal hackery in dotnet/aspnet-api-versioning#1015
- If the issue is accepted as a bug, I'm happy to put up a PR

@commonsensesoftware Thanks for opening this issue! This does indeed seem like a bug. Happy to review a PR.

This should be closed as per merged PR

Confirmed fixed. Thank you.