Accept-Language Header is not validated by RFC 9110 specification

### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The syntax for the Accept-Language header is described in [RFC 9110 section 12.5.4.](https://www.rfc-editor.org/rfc/rfc9110.html#section-12.5.4) as  
  
`Accept-Language = #( language-range [ weight ] )`

language-range is defined in [RFC 4647 section-2.1](https://datatracker.ietf.org/doc/html/rfc4647#section-2.1) as

```
language-range   = (1*8ALPHA *("-" 1*8alphanum)) / "*"
   alphanum         = ALPHA / DIGIT
```
The format is not validated when `[FromHeader(Name = "Accept-Language")]` is used in a controller method. Any gliberish can be entered. 


### Expected Behavior

Validation of the header according to RFC and returning a 400 Bad Request status code if the header is malformed.

### Steps To Reproduce

Create controller with a method, e.g:

```
 [HttpPost]
 public ActionResult Post([FromHeader(Name = "Accept-Language")] string? preferredLanguages)
 {...}
```

Call endpoint and enter "blabla23bloop" for header.

### Exceptions (if any)

_No response_

### .NET Version

7.0.202

### Anything else?

_No response_

When you inject any entire header as a string no validation is performed on it. StringWithQualityHeaderValue.TryParseList will get you some of the parsing and validation you want.
https://github.com/dotnet/aspnetcore/blob/main/src/Http/Headers/src/StringWithQualityHeaderValue.cs

I'm aware of `StringWithQualityHeader` type, which is not RFC conform. I also believe it is the job of the framework (Web.API) to validate header RFC formats instead of having every user program that code. 

> Maybe, but that validation would happen on/produce a structured/parsed object like `StringWithQualityHeader`, not the raw header string.

Both work. For validation only the raw header string is required. Creating additionally a parsed object makes life easier. 

> Why not? Is it just not specific enough?

No, it isn't . E.g. a language range can have a maximum of 8 characters. `StringWithQualityHeader` is just an unlimited string. Ideally the language ranges are also validated against valid language tags.

Currently, I'm first checking the raw string against a regex for the `Accept-Language`, then use `GetTypedHeaders()` to stable sort the language list incl. removing duplicates. At the end I check against `CultureInfo.GetCultures(CultureTypes.AllCultures).Select(x => x.Name)`. Additionally, I take the default casing from the `CultreInfo.Name`, because language ranges are case-insensitive.

A lot of work that could/should be done by the framework. 

> A lot of work that could/should be done by the framework.

The framework does do validation like this for headers it consumes directly, but it relies on the structured types to do the first pass. If you ask for the raw string for any header you'll always get the unvalidated value. We should see if there's a way to pass a structured value as controller input.

Getting a structured value that's specific to Accept-Language is a separate consideration.

> Getting a structured value that's specific to Accept-Language is a separate consideration.

That would be very helpful. Checking syntax, checking for valid language tags, stable sorting, removing of duplicates, and correct upper-lowercase is a lot. 

Thanks for contacting us.
While this may be a great idea, it is not aligned with our long-term vision to make it part of the framework. For many other ideas which don't belong to the framework we encourage the community to build and ship on their own, contributing to the expanding .NET Ecosystem.

You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.