"Connection: upgrade" causes 400 error that never reaches application code. Triggered by common nginx config.

### Describe the bug
If a Kestrel receives a `Connection: upgrade` header, in a POST request with a nonempty body, then Kestrel will never pass the request to application code. It will give a 400 "Bad Request" response with an empty body.

This gets triggered by a very common HTTPS reverse proxy configuration of nginx (see below).

### To Reproduce
I have a Jellyfin 10.4.1 server set up at `localhost:8096`. Jellyfin uses Kestrel as its web server in a pretty straightforward configuration.

This curl line triggers the bug:

```
# curl -iv --raw --data foo -H 'Connection: upgrade' http://localhost:8096/notfound
*   Trying ::1...
* TCP_NODELAY set
* Connected to localhost (::1) port 8096 (#0)
> POST /notfound HTTP/1.1
> Host: localhost:8096
> User-Agent: curl/7.58.0
> Accept: */*
> Connection: upgrade
> Content-Length: 3
> Content-Type: application/x-www-form-urlencoded
>
* upload completely sent off: 3 out of 3 bytes
< HTTP/1.1 400 Bad Request
HTTP/1.1 400 Bad Request
< Connection: close
Connection: close
< Date: Thu, 14 Nov 2019 05:25:52 GMT
Date: Thu, 14 Nov 2019 05:25:52 GMT
< Server: Kestrel
Server: Kestrel
< Content-Length: 0
Content-Length: 0

<
* Closing connection 0
```

Jellyfin logs all errors in its request handler, but no logs are ever output for this case. Application code never sees the request.

If I omit the header, or use a GET request, or an empty POST request with `-X POST`, then the bug is not triggered. I get the expected 404 error, and Jellyfin prints an error message.

### Further technical details
I'm very new to .NET so I'm not sure how to get the version of ASP.NET Core being used here. I am using the official 10.4.1 Ubuntu release of Jellyfin.

I have checked out the Jellyfin source and done enough debugging to verify that the error seems to be in Kestrel, and it doesn't appear to be anywhere in Jellyfin handler code or in its Kestrel config.

Jellyfin configures its Kestrel server here: https://github.com/jellyfin/jellyfin/blob/v10.4.1/Emby.Server.Implementations/ApplicationHost.cs#L615

I'm using nginx as an HTTPS reverse proxy to Jellyfin. I'm using some standard nginx config for reverse proxying, which looks like this:
```
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
```
This is common in lots of nginx documentation. [Here](https://nginx.org/en/docs/http/websocket.html)'s an example.

`Connection: upgrade` is usually accompanied by `Upgrade: websocket` or so, but my read of [the RFC](https://tools.ietf.org/html/rfc2616#section-14.10) is that specifying a missing header name shouldn't be grounds for a 400 response. `Connection: upgrade` should just mean that the server shouldn't forward the `Upgrade` header, *if it exists*.

In any case, I would expect that if Kestrel will catch malformed requests and not forward them to application code at all, that Kestrel will at least include some message indicating what's wrong. The empty response had me chasing my tail for days trying to figure out the problem.

@sbrudenell I was having a similar issue where my original nginx config had `proxy_set_header Connection keep-alive;` which caused web sockets errors with blazor. Changing it to `proxy_set_header Connection "upgrade";` fixed those WS errors but broke the app's api endpoints which all returned 400 errors. 
Setting the connection header as specified on the blazor docs fixed the issue for me, now both WS and POST requests work fine: `proxy_set_header Connection $http_connection;`

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/server?view=aspnetcore-3.1#linux-with-nginx

Just want to add for @delebru post, in my case in order to make `$http_connection` work, I have to declare it first. Otherwise, nginx will fail:

```
Error while running nginx -c /etc/nginx/nginx.conf -t.

nginx: [emerg] unknown "connection_upgrade" variable
nginx: configuration file /etc/nginx/nginx.conf test failed
```
My full nginx configuration is something like:

```
map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen        80;
    server_name   xxx;

    location / {
        proxy_pass         http://localhost:5000
        proxy_http_version 1.1;
        proxy_set_header   Upgrade \$http_upgrade;
        proxy_set_header   Connection \$connection_upgrade;
        proxy_set_header   Host \$host;
        proxy_cache_bypass \$http_upgrade;
        proxy_set_header   X-Forwarded-For \$proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto \$scheme;
        proxy_set_header   X-Real-IP \$remote_addr;
    }
}
```

the same error when I use signalr, any solution here? is that a bug of asp.net core?


I've just hit this problem using the AspNetCore app docker sample on a container hosting company. 
If you can't change the Nginx settings are their any workarounds in the container?

I've just hit this too, using AWS's Elastic Beanstalk with default settings for running in a Docker container.  When I try to do a simple POST to a login action all I get is an empty 400 response, never hitting the application code.  Checking the debug logs revealed that Connection: Upgrade error in Kestrel.  Beanstalk uses nginx as the default proxy and sure enough disabling it "fixes" the problem.  It's a managed platform, presumably using a stock nginx config, though it's abstracted away from the user and it doesn't look super straight-forward to be able to edit it.

I've experienced a similar issue. `java.net.HttpClient` with default settings calls a ASP.NET 5.0 server. The request below returns status code 400, because of the headers that tries to upgrade to HTTP2. I'm using the default Kestrel options, so HTTP/2 is disabled.

```
PUT /file.json HTTP/1.1
Connection: Upgrade, HTTP2-Settings
Content-Length: 4
HTTP2-Settings: AAEAAEAAAAIAAAABAAMAAABkAAQBAAAAAAUAAEAA
Upgrade: h2c
User-Agent: Java-http-client/11.0.9

test
```

Kestrel doesn't support Connection upgrades to h2c, it only supports ALPN based h2 upgrades. The HTTP/2 connection upgrade mechanic is not widely supported, that's actually the first client I've seen attempt it.

However, we should make kestrel capable of ignoring such an upgrade.

I was surprised that a client (rather than nginx) would send both a "Connection: Upgrade" header and a payload. I don't think that's allowed with WebSockets. But then @Tratcher pointed me to the following:

```
A client cannot begin using an upgraded protocol on the connection
   until it has completely sent the request message (i.e., the client
   can't change the protocol it is sending in the middle of a message).
   If a server receives both an Upgrade and an Expect header field with
   the "100-continue" expectation (Section 5.1.1 of [RFC7231]), the
   server MUST send a 100 (Continue) response before sending a 101
   (Switching Protocols) response.
```
https://tools.ietf.org/html/rfc7230#section-6.7 (Part of the HTTP/1.1 spec)

and 

```
  Requests that contain a payload body MUST be sent in their entirety
   before the client can send HTTP/2 frames.  This means that a large
   request can block the use of the connection until it is completely
   sent.
```
https://tools.ietf.org/html/rfc7540#section-3.2 (HTTP/2 spec)

I still don't think a payload is allowed for WebSockets since those need to be GET requests, but the RFCs make it clear that payloads are allowed with upgrade requests.

The simplest "fix" would be to basically ignore the Connection: Upgrade header when there's a payload. This means `IHttpUpgradeFeature.IsUpgradableRequest` will be false for such a request and `IHttpUpgradeFeature.UpgradeAsync()` would throw an InvalidOperationException.

The correct fix would be to allow upgrading these requests after the payload is consumed and throw if `IHttpUpgradeFeature.UpgradeAsync()` is called before then. That fix would be far more involved though.

I think this is fine to do the simpler "fix" since with all the reports so far no one has actually wanted to attempt a request upgrade on a request with a payload. Kestrel doesn't support upgrading an HTTP/1.1 request to HTTP/2. Kestrel supports negotiating HTTP/2 using ALPN and HTTP/2 prior knowledge.

Any hope of this making into a point release in 5.0 or 3.1 soon? It's blocking my team in production right now because our hosting service configured Nginx this way and can't change it.

@adamkirkton February at the earliest, January patches locked down early due to the holidays.

@Tratcher duly noted, I appreciate the quick response.

> I've just hit this too, using AWS's Elastic Beanstalk with default settings for running in a Docker container. When I try to do a simple POST to a login action all I get is an empty 400 response, never hitting the application code. Checking the debug logs revealed that Connection: Upgrade error in Kestrel. Beanstalk uses nginx as the default proxy and sure enough disabling it "fixes" the problem. It's a managed platform, presumably using a stock nginx config, though it's abstracted away from the user and it doesn't look super straight-forward to be able to edit it.

I used the following two options in Elastic Beanstalk nginx config and it resolved the bad request:

```
    proxy_set_header    X-Forwarded-Host        $http_host;
    proxy_set_header    Connection              $http_connection;

```

Configured nginx via: https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/platforms-linux-extend.html




I just resolved this using Swag (e.g. letsencrypt docker container) on an Unraid server, where SignalR could not be connected in the new version of Radarr.... the following is the fixed configuration.  Notice that the `proxy_http_version 1.1;` command is already included in the `proxy.conf` default configuration that is imported so this was causing failed connections, once commented out then it works as expected now:

NOTE: This works because the hostname `radarr` is resolved dynamically in Docker due to internal docket network configured as noted in SpaceInvaderOne's video on how to setup Radarr/Sonarr/etc. You could easily use the IP address here instead.

```
    location / {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable the next two lines for ldap auth
        #auth_request /auth;
        #error_page 401 =200 /login;

        include /config/nginx/proxy.conf;
        resolver 127.0.0.11 valid=30s;
        set $upstream_app radarr;
        set $upstream_port 7878;
        set $upstream_proto http;		
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

        #Enable SignalR for Radarr v3
        #proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;
    }
```


These changes have been backported to 5.0, 3.1, and 2.1 for the February patches.