`Content-Encoding: identity` is not a valid value per RFC

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

`Content-Encoding: identity` is not a valid value

RFC references:

[RFC 2616, Section 3.5](https://tools.ietf.org/html/rfc2616#section-3.5):

> identity
The default (identity) encoding; the use of no transformation
whatsoever. This content-coding is used only in the Accept-
Encoding header, and SHOULD NOT be used in the Content-Encoding
header.

Newer RFC 7131 mentions it as valid in `Accept-Encoding` but not in `Content-Encoding`

[RFC 7231 Section 5.3.4](https://tools.ietf.org/html/rfc7231#section-5.3.4):

> Accept-Encoding = #( codings [ weight ] )
codings = content-coding / "identity" / "*"

[RFC 7231 Section 3.1.2.2](https://tools.ietf.org/html/rfc7231#section-3.1.2.2):

> Content-Encoding = 1#content-coding

### Expected Behavior

If no compression is applied, then `Content-Encoding` header is not necessary

### Steps To Reproduce

https://github.com/dotnet/aspnetcore/blob/73ce13e67ec6dbf004b0f85508ae9920e30e0cb6/src/SignalR/common/Http.Connections/src/Internal/Transports/ServerSentEventsServerTransport.cs#L41

### Exceptions (if any)

_No response_

### .NET Version

_No response_

### Anything else?

_No response_

This is done because IIS compresses text/* by default unless a content-encoding header is present. That breaks streaming SSE as it buffers in order to compress the response.

Is there any other way to bypass compression without manually specifying a content-encoding header?