Cookies broken in .NET Core/5.0?

It appears `HttpCookie` has been completely removed in .NET Core/5.0.

Moreover, if two cookies have the same name but different paths (let's say one path is */Folder* and one path is */Folder/Subfolder*), it seems to return the value for the cookie with the shorter path. This appears to run counter to the at least the spirit put forth in [RFC 6265](https://www.rfc-editor.org/rfc/rfc6265), which in section 5.4, subsection 2 states:

> The user agent SHOULD sort the cookie-list in the following order:
> 
> Cookies with longer paths are listed before cookies with shorter paths.
NOTE: Not all user agents sort the cookie-list in this order, but this order reflects common practice when this document was written, and, historically, there have been servers that (erroneously) depended on this order.

In my case, I am storing cookies using the path of the current page. But I just moved a page from */Folder* to */Folder/Subfolder*. And now .NET provides no means for accessing the value with the more specific path. My code is broken and I don't see any workaround.

I just don't get the thinking behind the removal of these features.

It seems that the CookieContainer is broken (net6.0). Below a simple naïve repro:
On the server side (please forgive the code, it's purely tests):
```csharp
            if( context.Request.Path.StartsWithSegments( "/setCookie" ) )
            {
                string name = context.Request.Query["name"];
                string path = context.Request.Query["path"];
                string value = context.Request.Query["value"];
                if( String.IsNullOrWhiteSpace( value ) ) value = "CookieValue";
                context.Response.Cookies.Append( name, value, new CookieOptions()
                {
                    Path = path
                } );
                return context.Response.WriteAsync( $"Cookie set: {name} Path: {path} Value: {value}" );
            }
```
On the Client side:

```csharp
    var cookiePath = new Uri( client.BaseAddress, "/COOKIEPATH" );
    using( HttpResponseMessage m = await client.Get( "/setCookie?name=Gateau&path=%2FCOOKIEPATH" ) )
    {
        var text = await m.Content.ReadAsStringAsync();
        text.Should().StartWith( "Cookie set: Gateau Path: /COOKIEPATH Value: CookieValue" );
        // The Set-Cookie header is fine.
        var h = m.Headers.Single( h => h.Key == "Set-Cookie" );
        h.Value.Single().Should().Be( "Gateau=CookieValue; path=/COOKIEPATH" );
        // The CookieContainer finds it...
        var cookies = client.Cookies.GetCookies( cookiePath );
        cookies.Should().HaveCount( 1 );
        cookies[0].Name.Should().Be( "Gateau" );
        // ...however, the cookie Path is / :(
        cookies[0].Path.Should().Be( "/COOKIEPATH" ); 
        ==> **Expected cookies[0].Path to be "/COOKIEPATH" with a length of 11, but "/" has a length of 1**
    }
``` 

Shouldn't this be considered a real nasty regression that should be fixed asap?


Another variation of the change of behavior: in NetCoreApp3.1 an incoming cookie with no Path was relative to the request Uri (and this is correct):
- The "default-path" is defined here: https://datatracker.ietf.org/doc/html/rfc6265#section-5.1.4
- The "no path case" here: https://datatracker.ietf.org/doc/html/rfc6265#section-5.2.4

```csharp
            var setCookieUri = new Uri( client.BaseAddress, "/setCookie" );
            using( HttpResponseMessage m = await client.Get( "/setCookie?name=Gateau&value=V" ) )
            {
                var text = await m.Content.ReadAsStringAsync();
                text.Should().Be( "Cookie set: Gateau Path:  Value: V" );

                // The Set-Cookie header has NO path.
                var h = m.Headers.Single( h => h.Key == "Set-Cookie" );
                h.Value.Single().Should().Be( "Gateau=V" );

                // NetCore3.1: the cookie was NOT available on the root path, but on the called Uri path.
                //   var rootCookies = client.Cookies.GetCookies( client.BaseAddress );
                //   rootCookies.Should().HaveCount( 0 );
                //   var cookies = client.Cookies.GetCookies( setCookieUri );
                //   cookies.Should().HaveCount( 1 );
                //   cookies[0].Name.Should().Be( "Gateau" );
                //   cookies[0].Path.Should().Be( "/setCookie" );

                // Net6.0: the cookie is on the root url (and, of course, is also available on the called Uri path).
                var rootCookies = client.Cookies.GetCookies( client.BaseAddress );
                rootCookies.Should().HaveCount( 1 );
                var cookies = client.Cookies.GetCookies( setCookieUri );
                cookies.Should().HaveCount( 1 );
            }
```

This looks like a severe issue doesn't it?

Be advised that .NET 5 introduced a number of changes with the team's understanding and interpretation of RFC 6265 section 5.1.4 and 5.2.4, which can be found on https://github.com/dotnet/runtime/issues/26141 (with some issues remaining on https://github.com/dotnet/runtime/issues/40328).

I ran into this same issue again using .NET 6.0. I don't know if this will be addressed but I wanted to clarify the problem description.

Consider the case where I have a page at */Folder* and I store a cookie using the URL path, and then I later need to move that same page to */Folder/Details*.

The new page will write its cookies using the path */Folder/Details*. However, when it attempts to read these cookies, it will read the old ones from */Folder* if the browser stores the two version of cookies in the order recommended by [RFC 6265](https://www.rfc-editor.org/rfc/rfc6265).

In this case, my moved page can write cookies all day long. It's always going to read the old cookies until they are cleared.

This can be a security issue: a cookie scoped to a sub folder by one of the server component MUST NOT be visible to another part of the architecture (that may be an external plugin). Currently, the cookie value is visible from anywhere (since it is rooted)!  

This issue has been bothering me for a while, and I just now sought out the issue for it. I'm glad to find one.

> Because it's not immediately obvious that this is a bug in our framework, we would like to keep this around to collect more feedback, which can later help us determine the impact of it.

I would humbly contend that it is a bug. If a cookie has been set with a more specific path that matches the request URL, the browser should send it first, according to [RFC 6265](https://www.rfc-editor.org/rfc/rfc6265). This browser-dependent part works fine, and `Request.Headers["Cookie"]` looks like this:
`CookieName=SomeValueSpecific; CookieName=SomeValueGeneral`

But `Request.Cookies["CookieName"] == "SomeValueGeneral"`, which not what I would expect. But I can see why it is happening when I read the below file. This code initially stores the first cookie and then it overwrites it with the second:
https://github.com/dotnet/aspnetcore/blob/8b30d862de6c9146f466061d51aa3f1414ee2337/src/Http/Shared/CookieHeaderParserShared.cs#L37

It seems to me a check should be performed to see if the cookie has already been stored. If the cookie has been stored, this would be because the browser sent that cookie first, knowing that the cookie had the more specific path. So the code should just ignore any subsequent cookies with the same name.

This is my view:
1. I would expect ASP.NET Core to return the best cookie when multiple cookies with the same name are found.
2. The best cookie is the cookie with the most specific path.
3. The cookie with the most specific path is sent first.
4. ASP.NET Core should return the first cookie, not the last cookie.

I've stumbled upon this bug on https://github.com/dotnet/aspnetcore/issues/66243, I've uploaded some screenshot proving the behavior that @wessleym  explained on [this comment](https://github.com/dotnet/aspnetcore/issues/37431#issuecomment-2435906972).