JwtBearerHandler.cs hardcoded "Bearer "

If someone decides to define their own JWT token scheme that does not use the prefix Bearer, but a different custom scheme name there are issues authenticating the JWT Token while utilizing AzureAD.

example:
```csharp
var builder = WebApplication.CreateBuilder(args);

builder.Services.AddAuthentication("MyCustomScheme")
    .AddMicrosoftIdentityWebApi(builder.Configuration, jwtBearerScheme: "MyCustomScheme");

/* code removed for brevity */

var app = builder.Build();

/* code removed for brevity */

app.Run();
```

In your controller if you use "MyCustomScheme" to authenticate it will not authenticate the token out of the box because it is not prefixed with "Bearer ", even though you are utilizing "MyCustomScheme ".  This is highlighted on line 78 here:
https://github.com/dotnet/aspnetcore/blob/main/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs

You can add an event handler to handle this event, and essentially reimplement what is going on in the JwtBearerHandler.cs, but it seems like overkill for a simple rename to the token.

Now if this may not seem appropriate because [RFC 6750 Section 2.1](https://www.rfc-editor.org/rfc/rfc6750#section-2.1) specifies that the standard for OAuth 2.0 is to use "Bearer " + base64Token.  But I would argue then that jwtBearerScheme should not exist as an optional parameter in the extension method as the standard for JWT Tokens should never change  in [.AddMicrosoftIdentityWebApi(...)](https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/WebApiExtensions/MicrosoftIdentityWebApiAuthenticationBuilderExtensions.cs).  Additionally postman will allow you to change the header prefix, the prefix feels arbitrary, so I believe it should be defined by the provided Scheme, not by the linked spec.

Depending on the responses I feel like it could be argued to open this issue on either side, here or in the AzureAD repository.  I figured I can start the discussion here to see if I'm missing anything on my side.

It would be useful to have the scheme passed in the HTTP authorization header to be configurable. DPoP is an example where it is different than Bearer: https://datatracker.ietf.org/doc/html/draft-ietf-oauth-dpop#name-the-dpop-http-header

Your best option for now is probably to configure [JwtBearerOptions.Events.OnMessageReceived](https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.jwtbearer.jwtbearerevents.onmessagereceived?view=aspnetcore-7.0#microsoft-aspnetcore-authentication-jwtbearer-jwtbearerevents-onmessagereceived) and set the token yourself. This seems simple enough considering how rare this feature request is, but if more people start using non-"Bearer " prefixes, we might consider it down the road.

```csharp
builder.Services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
    .AddJwtBearer(jwtBearerOptions =>
    {
        jwtBearerOptions.Events ??= new();
        jwtBearerOptions.Events.OnMessageReceived = context =>
        {
            var authHeader = context.Request.Headers.Authorization.ToString();

            if (authHeader.StartsWith("DPoP ", StringComparison.Ordinal))
            {
                context.Token = authHeader["DPoP ".Length..];
            }
            else
            {
                // Skip NoResult() if you want to fall back to trying to read the "Bearer " token.
                context.NoResult();
            }

            return Task.CompletedTask;
        };
    });
```

We document something similar in https://learn.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-7.0#built-in-jwt-authentication because SignalR is sometimes unable to set the Authorization header when using WebSockets in the browser and instead sends the bearer token as part of the query string (`?access_token=...`).

This is a problem if you wish to register multiple JWT handlers i.e. the prefix *has* to be different.  It should be noted that this very non-obvious behavior i.e. I spent time hunting around authorization policies/challenge schemes before I thought to look at `JwtBearerHandler` source.



I came across this issue because I'm updating our APIs to support two JwtBearer authentication schemes. Essentially we are migrating from one token issuer to another but for the transition period (which I suspect will be quite long) we need to support JWTs from both issuers.